//Importing global SCSS variable sheet
@import "../../styles/global.scss";

/*

  Post Container

  Container class used to house all subclasses of a Featured Post
  Defines styling for border, spacing and animation
*/
.postContainer{
  border: $separatingBorder;
  margin-bottom: 2rem;
  transition: all 0.5s ease-in-out;
  //Define hover behavior for featured post
  &:hover{
    cursor:pointer;
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
  }
  //Some weird logic with image container to set background color to match
  .imageContainer{
    background-color: $bgColorDark;
    //Define max size for featured image
    .featuredImage{
      max-width:100%;
    }
  }
  /*
    Content Container

    Class used to house all subclasses of the main content
    Defines styling for padding and background color;
  */
  .contentContainer{
    background-color:$bgColorDark;
    position: relative;
    min-height: 6rem;

    //Wrapper for holding title and author image, set to flex and space between content
    .mainInformation{
      display: flex;
      justify-content: space-between;
    }

    //Defines styling for the title of the featured post
    .textCenter{
      margin:$verticalCenter;
      width: 85%;
      padding-bottom: 1rem;
      margin-top: 1.5rem;
      margin-left: 1rem;
    }

    .featuredTitle{
      color:$brightText;
      text-transform: $navTextTransform;
      letter-spacing: 0.1rem;
      margin:0;
      margin-bottom: 0.5rem;
      width: 100%;
      font-weight: 600;
    }

    //Defines styling for the date of the featured post
    .featuredDate{
      color:$mediumText;
      text-transform: $navTextTransform;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }
    //Container for the author image, slight height fix alongside image styling in child class
    .authorImageContainer{
      position: absolute;
      z-index: 10;
      top: 0.5rem;
      right:1rem;
      width:15%;
      .featuredAuthorImage{
        border-radius: 9999px;
        max-width:100%;
      }
    }
  }
}
