.faq{
  width: 85%;
  margin:auto;
  background-color: #121212;
  border: solid 1px rgba(160, 160, 160, 0.3);
  margin-bottom : 2em;
}

.question{
  width: 60%;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.question > h3{
  text-align: left;
  color: #c1ccd4 !important;
}

.content{
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.content > p {
  text-indent: 1em;
}

.maxWidth{
  width: 100%;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
