html,
body {
  padding: 0;
  margin: 0;
  background-color: #232323;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x:hidden;
  font-family: "Raleway", Helvetica, sans-serif;
}

section{
  padding:0rem;
  margin:0rem;
}

/* TODO need to get proper scrollbar in place */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
