//All Variable Declerations

//Handy Formatting Stuff
$verticalCenter: auto 0 auto 0;
$separatingBorder: solid 1px rgba(160, 160, 160, 0.3);
$separatingBorderDim: solid 1px rgba(160, 160, 160, 0.2);
$separatingBorderDotted: dotted 1px rgba(160, 160, 160, 0.3);
$highlightTransition: all 0.3s ease-in-out;

//Background Colors
$bgColor: #232323;
$bgColorDark: #121212;

//Text Colors
$brightText: #c1ccd4;
$mediumText: #969696;
$unselectedText: #626363;

//Text Formats
$navTextFamily: "Raleway", Helvetica, sans-serif;
$navFontSizeNormal: 0.8rem;
$navFontSizeTitle: 1rem;
$navTextWeightNormal: 100;
$navTextWeightBold: 100;
$navTextSpacing: 0.2rem;
$navTextTransform: uppercase;
