@import "../../styles/global.scss";

//Local variable for margin value
$leftMargin: 3rem;

/*
  Search Nav Parent

  Parent element for search nav component
  Used for rough, top level styling of component
*/
.searchNavParent{
  margin-top: 5rem;
  h3{
    //Styling title text for the search nav
    margin:0 0 1rem 0;
    font-family:$navTextFamily;
    font-size: 0.9rem;
    text-transform: uppercase;
    color:$brightText;
    letter-spacing: $navTextSpacing;
  }
}

/*
  Flex Wrapper

  Defines flex behavior for main bar of content
*/
.flexWrapper{
  display:flex;
  width:inherit;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
  Filter Header

  Main styling for filter items (and sorting)
  Defines sizing, spacing, color, and hover behavior
*/
.filterHeader{
  margin: 1rem 0 auto 0;
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
  //Set default styles for header. Includes color, weight, and spacing
  h2{
    margin:auto 0 auto 0;
    padding:0;
    color:$brightText;
    font-weight: 100;
    text-transform:uppercase;
  }
  padding: 0.7rem;
  background-color: $bgColorDark;
  border-radius: 2px;
  //Set margins and proper padding for divs in the header
  *{
    margin: auto 0 auto 0;
    padding: 0.167rem 0 0.167rem 0;
    //If it's not the last child add a margin
    &:not(:last-child){
      margin-right: 1rem;
    }
    //Set margins to 0 on title
    h3{
      margin:0;
    }
  }
  //Hover behavior
  :hover{
    cursor:pointer;
  }
}

//Helper class for animation of arrow rotating
.rotation{
  transform: rotate(0deg) !important;
  transition: all 0.2s ease-in-out;
}

//Helper class(es) that handles resizing of arrow icon
.imageResize{
  //setting default width and height
  width: 2rem;
  height: 2rem;
  img{
    //Setting default rotation alongside transition
    transform:rotate(-90deg);
    transition: all 0.2s ease-in-out;
    //Set max height to max of parent element
    max-height:100%;
    max-width:100%;
  }
}

/*
  Main Search

  Class used to style the main search bar of the searchnav component
  Largely the same as the search bar in the sidebar, bar a few style differences
*/
.mainSearch{
  margin-top: 1rem;
  //Some awful math/work to make the sidebar the same width as the UL
  width: 24rem;
  //Making font slightly larger than default
  font-size: 1.2rem;
  // Set padding so input is larger on all sides than text within
  padding: 0.7rem 1rem 0.7rem 0rem;
  //Set small indent for style purposes
  text-indent: 0.5rem;
  //Set background color, border, and default text color
  background-color: #2c2d2d;
  border: $separatingBorder;
  border-radius: 0.1rem;
  color: $brightText;
  //Set font family
  font-family: $navTextFamily;
  //Chaning placeholder and focus values for style
  &::placeholder{
    color:$mediumText;
  }
  &:focus{
    outline: $separatingBorder;
  }
}
